.administration {
  width: 100%;
}

.administration__header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 58px;
  margin-bottom: 27px;

  background-color: #ffffff;
}

.administration__back {
  display: flex;
  align-items: center;
  position: relative;
  left: 12px;
  min-width: 68px;
  max-width: 30%;
  min-height: 27px;
  margin-right: 5%;
  padding: 6px 16px 4px 23px;

  color: #3c52c9;
  font-size: 12px;
  line-height: 13px;
  font-weight: 700;

  background: #ffffff;
  border: solid 1px #3c52c9;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0465919);

  &::before {
    position: absolute;
    top: 50%;
    left: 13px;
    content: "";
    width: 6px;
    height: 10px;
    margin: -5px;
    background-image: url("../img/back-arrow.svg");
  }
}

.administration__title {
  width: 75%;
  margin: 18px auto 18px auto;
  padding-right: 11%;
  text-align: center;

  color: #6b7dea;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
