.bar {
  display: flex;
  width: 97%;
  min-height: 44px;
  margin-bottom: 25px;
  margin-left: 19px;
}

.bar__form {
  display: flex;
  align-items: center;
  width: 100%;
}

.bar__search {
  width: 277px;
  height: 44px;
  padding-left: 18px;
  padding-right: 40px;

  font-size: 13px;
  font-weight: 700;

  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.038);

  &::placeholder {
    color: rgba(0, 0, 0, 0.137596);
  }
}

.bar__label {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    right: 17px;
    content: "";
    width: 20px;
    height: 20px;
    margin-top: -10px;

    background-image: url("../../img/shapesearch.svg");
  }
}

.bar__services-enregistres {
  margin: 0;

  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.130667px;
  color: rgba(0, 0, 0, 0.365093);

  & span {
    margin-left: 20px;
    margin-right: 10px;
    color: #3c52c9;
  }
}

.bar__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 108px;
  max-width: 400px;
  margin-left: auto;
  margin-right: 3%;
  padding: 10px 10px 5px 10px;

  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #3d61ff;
  box-shadow: 0 3px 7px rgba(61, 97, 255, 0.270211), inset 0 1px 1px rgba(0, 0, 0, 0.110479);
  border-radius: 4px;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
