.list {
  width: 1013px;
  min-height: 539px;
  margin-left: 13px;
  // outline: 1px solid black;
}

.list__table {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  background-color: #ffffff;
  border-collapse: collapse;
  border-radius: 3px 3px;
  box-shadow: 0 8px 3px #eaebef;

  & tr:nth-of-type(2n+3) {
    background-color: #fafbff;
  }

  & tr {
    height: 58px;

    &:first-of-type {
      margin-bottom: 9px;
    }

    & td {
      width: 135px;
      text-align: center;
    }
  }
}

.list__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.038);
}

.list__upper-case {
  text-transform: uppercase;
}

.list-actions {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    background-image: url("../img/….svg");
  }
}
