.list {
  width: 100%;
  min-height: 539px;
  margin-left: 13px;
}

.list__table {
  width: 95.3%;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  border-collapse: collapse;
  border-radius: 3px 3px;
  box-shadow: 0 8px 3px #eaebef;

  & tr:nth-of-type(2n+3) {
    background-color: #fafbff;
  }

  & tr {
    height: 59px;

    &:nth-of-type(2) {
      height: 70px;

      & td {
        padding-top: 11px;
      }
    }

    & td,
    th {
      width: 135px;
      text-align: start;

      &:nth-of-type(1) {
        padding-left: 53px;
      }

      &:nth-of-type(2) {
        padding-left: 20px;
      }

      &:nth-of-type(3) {
        padding-left: 30px;
      }

      &:nth-of-type(4) {
        padding-left: 26px;
      }

      &:nth-of-type(5) {
        padding-right: 10px;
        text-align: end;
      }

      &:nth-of-type(6) {
        padding-right: 30px;
        text-align: end;
      }

      &:nth-of-type(7) {
        padding-right: 63px;
        text-align: end;
      }

      &:last-of-type {
        width: 200px;
      }
    }
  }
}

.list__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.038);

  & th {
    font-weight: 400;
  }
}

.list__upper-case {
  text-transform: uppercase;
}

.list__connection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 59px;

  &--connected {
    color: #86ee82;
  }

  &--disconnected {
    color: #ff5867;
  }
}

.list__status-connection {
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 2px;
  margin-left: 13px;
  margin-top: -3px;

  background-color: inherit;
  border-radius: 50%;

  &--of {
    margin-left: 6px;
    background-color: #ff5867;
  }

  &--on {
    background-color: #86ee82;
  }
}

.list__actions {
  position: relative;

  &::before {
    position: absolute;
    top: -11px;
    left: -44px;

    content: "";
    width: 25px;
    height: 25px;

    background-image: url("../img/actions.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ffffff;
    border-radius: 50%;
  }
}
