.list {
  width: 95.3%;
  min-height: 539px;
  margin-left: 13px;
}

.list__table {
  width: 100%;

  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);

  background-color: #ffffff;
  border-collapse: collapse;
  border-radius: 3px 3px;
  box-shadow: 0 8px 3px #eaebef;

  & .list__status-title {
    padding-right: 10px;
    text-align: end;
  }

  & tr:nth-of-type(2n+3) {
    background-color: #fafbff;
  }

  & tr {
    height: 59px;

    &:nth-of-type(2) {
      height: 70px;
    }

    & td,
    th {
      width: 135px;
      text-align: start;

      &:nth-of-type(1) {
        padding-left: 53px;
      }

      &:nth-of-type(2) {
        padding-left: 20px;
      }

      &:nth-of-type(3) {
        padding-left: 30px;
      }

      &:nth-of-type(4) {
        padding-left: 26px;
      }

      &:nth-of-type(5):not(.list__status-title) {
        padding-right: 35px;
        text-align: end;
      }

      &:nth-of-type(6) {
        padding-right: 30px;
        text-align: end;
      }

      &:nth-of-type(7) {
        padding-right: 6%;
        text-align: end;
      }

      &:last-of-type {
        position: relative;
        width: 200px;
      }
    }
  }
}

.list__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.038);

  & th {
    font-weight: 400;
  }
}

.list__uppercase {
  text-transform: uppercase;
}

.list__connection {
  position: relative;

  &::after {
    position: absolute;
    right: 10px;
    width: 10px;
    height: 10px;
    content: "";

    border-radius: 50%;
  }

  &--on {
    color: #86ee82;

    &::after {
      background-color: #86ee82;
    }
  }

  &--off {
    color: #ff5867;

    &::after {
      background-color: #ff5867;
    }
  }
}

.list__info {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 14%;

  background-image: url("../img/three-point.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffffff;
  border-radius: 50%;
}

.list__edit {
  display: inline-block;
}
