.nav {
  min-width: 218px;
  min-height: 711px;
  padding: 17px 17px 17px 27px;

  font-weight: 700;
  background: radial-gradient(1613.51px at 50% 0%, #3c52c9 0%, #6b7dea 100%);

  &__logo {
    display: flex;
    align-items: center;
    margin-left: 3px;
    margin-bottom: 40px;

    color: #ffffff;
    line-height: 19px;
  }

  &__upper-case {
    align-self: flex-end;
    margin-left: 15px;
    letter-spacing: 0.5mm;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.0547158);
  }

  &__lower-case {
    align-self: flex-end;
    margin-bottom: 5px;
    margin-left: 7px;
    font-weight: 300;
    font-size: 8px;
    line-height: 8px;
  }

  &__menu {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 15px;
    list-style: none;
  }
}

.nav__item {
  margin-bottom: 10px;

  & a {
    display: block;
    width: 174px;
    padding: 5px 36px 5px 20px;

    color: rgba(255, 255, 255, 0.695029);
    border-radius: 4px;
  }

  &--active > a {
    top: calc(50% - 14.81px / 2 - 267.62px);
    padding-left: 27px;
    margin-bottom: 15px;

    color: #ffffff;
    background: #2438ab;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.110479);
  }
}

