@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro"),
    url("../fonts/sourcesanspro-light-webfont.woff2") format("woff2"),
    url("../fonts/sourcesanspro-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro"),
    url("../fonts/sourcesanspro-regular-webfont.woff2") format("woff2"),
    url("../fonts/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro"),
    url("../fonts/sourcesanspro-bold-webfont.woff2") format("woff2"),
    url("../fonts/sourcesanspro-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
